# Virtual Environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# Build and distribution
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.idea/

